
<div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center">

  <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div class="justify-content-center order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-three-dots-vertical"></i>
        <i class="bi bi-arrow-clockwise"></i>
        <h6 class="flex-grow-1 text-end">Visit by Traffic Types</h6>        
      </div>
      <app-graphic-primera-caja></app-graphic-primera-caja>

      <div class="mt-4 flex-row align-items-center">
        <span class="position-absolute rounded-circle small d-flex align-items-center justify-content-center text-black"></span>
      </div>
      <hr>
      <app-graphic-line></app-graphic-line>
      <hr>
      <app-graphic-line-2></app-graphic-line-2>
      <hr>

    </div>

    
  </div>


  <div class="col-xl-3 col-md-6 col-12 order-xl-1 order-md-2 order-1 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div class="order-xl-1 order-md-2 order-1 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm text-center">
      CUSTOMER SATISFACTION
    </div>
    
    <!--Segunda caja Browser Stats-->
    <div class="order-xl-1 order-md-2 order-1 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-x-lg"></i>
        <i class="px-2 bi bi-download"></i>
        <h6 class="flex-grow-1 text-end">Browser Stats</h6>        
      </div>

      <!--ciculo amarillo-->
      <div class="mt-4 flex-row align-items-center">
        <span class="circulo-amarillo position-absolute rounded-circle small d-flex align-items-center justify-content-center text-black">50%</span>
        <p class="text-end">Google Chrome</p>
      </div>
      <hr>
      <!--ciruculo rojo-->    
      <div class="mt-4 flex-row align-items-center">
        <span class="circulo-rojo position-absolute rounded-circle small d-flex align-items-center justify-content-center text-black">10%</span>
        <p class="text-end">Mozila Firefox</p>
      </div>
      <hr>
      <div class="mt-4 flex-row align-items-center">
        <span class="circulo-verde position-absolute rounded-circle small d-flex align-items-center justify-content-center text-black">30%</span>
        <p class="text-end">Internet Explorer</p>
      </div>
      <hr>
      <div class="mt-4 flex-row align-items-center">
        <span class="circulo-azul position-absolute rounded-circle small d-flex align-items-center justify-content-center text-black">10%</span>
        <p class="text-end">Safari</p>
      </div>
    </div>
    
</div>

  <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div class="h-100 justify-content-center order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
      <app-graphic-tercera-caja></app-graphic-tercera-caja>
    </div>
    
  </div>

</div>

<div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center">
  <div class="col-xl-4 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div>Quarta caja</div>
  </div>

  <div class="col-xl-7 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div>Quinta caja</div>
  </div>
</div>
