.pie-chart{
    font-size: 150px;
}

.chart-line{
    font-size: 30px;
}

/*
.circulo-amarillo {
    width: -100px;
    height: -100px;
    z-index: 2;
    background-color: rgb(247, 200, 46);
    right: 245px;
    top: 75px;
}
*/

div {
    max-width: 100%;
}

.progress-bar-custom {
    font-size: 28px;
    color: #198754;
    width: 100%;
    border-bottom: 4px solid #198754;
}
