.div-principal {
    background: url('/login.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-secundario {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    padding: 20px;
}

.div-contenido {
    margin: 10px;
}

.form-control {
    border-radius: 8px;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #343a40; // Color oscuro de Bootstrap
    }
}
