.div-principal {
    background: url('/login.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 92.6vh;
    min-width: 100vw;
    box-sizing: border-box;
    width: 100%;
    
}

.div-secundario {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    padding: 20px;
    
        min-width: 450px;
        max-width: 500px;
        height: 450px;
    top: -35px;
    position: relative;
        
    
}

.div-contenido {
    margin: 10px;

    width: 100%;
}

.form-control {
    border-radius: 8px;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #343a40;
    }
}


