<div class="container mt-4">
    <h2>Carrito</h2>
    <div *ngIf="carrito.length === 0" class="alert alert-warning">
      No hay productos en el carrito.
    </div>
    <div *ngIf="carrito.length > 0" class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of carrito">
            <td><img [src]="producto.imagen" alt="{{ producto.nombre }}" width="50"></td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }} €</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  