.contenedor-principal {
    background-color: rgba(181, 181, 181, 0.26);
}

.sidebar-left {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.div-coworkers {
    justify-content: right;
}

.coworkers {
    background-color: rgba(255, 255, 255, 0.26);
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}