<div class="contenedor-principal">
    <div class="row">
    <!-- Bloque Izquierdo -->
<div class="col-md-3">
    <div class="sidebar-left p-3 m-auto">
      <div class="coworkers bg-white shadow-sm rounded-3">
        <div class="div-coworkers avatar1 mb-3 mt-3 row d-flex align-item-center ">
          <h5 class="col-5">Coworkers</h5>
          <i class="bi bi-arrow-right-circle col-5 fs-5 "></i>
        </div>
      </div>
      
    
        
    <!-- Coworkers -->
    <div class="coworkers bg-white shadow-sm rounded-3">
        <div class="avatar1 mb-3 mt-3">
            <img class="px-4" src="avatar1.png" alt="Sara">
            <span class="p-3">Sara Pajarín</span>
        </div>
    </div>

    <div class="coworkers bg-white shadow-sm rounded-3">
        <div class="avatar1 mb-3 mt-3">
            <img class="px-4" src="avatar1.png" alt="David">
            <span class="p-3">David Rodriguez</span>
        </div>
    </div>

    <div class="coworkers bg-white shadow-sm rounded-3">
        <div class="avatar1 mb-3 mt-3">
            <img class="px-4" src="avatar1.png" alt="Yovanny">
            <span class="p-3">Yovanny Nuñez</span>
        </div>
    </div>
    
    <div class="coworkers bg-white shadow-sm rounded-3">
        <div class="avatar1 mb-3 mt-3">
            <img class="px-4" src="avatar1.png" alt="Gabriel">
            <span class="p-3">Gabriel Ferreira</span>
        </div>
    </div>

    <div class="coworkers bg-white shadow-sm rounded-3">
        <div class="avatar1 mb-3 mt-3">
            <img class="px-4" src="avatar1.png" alt="Michael">
            <span class="p-3">Michael Vahos</span>
        </div>
    </div>
    </div>
  </div>
  
  
      <!-- Contenido Principal -->
      <div class="col-md-6">
        <div class="main-content p-3">
          <div class="post-box">
            <input type="text" class="form-control" placeholder="Compara tu trabajo">
            <div class="post-actions mt-2">
              <button class="btn btn-light bi bi-calendar-event mx-2"> Event</button>
              <button class="btn btn-light bi bi-image mx-2"> Photo</button>
              <button class="btn btn-light bi bi-play-btn mx-2"> Video</button>
              <button class="btn btn-light bi bi-emoji-smile mx-2"> Feeling</button>
            </div>
          </div>
  
          <div class="feed mt-3 bg-white shadow-sm rounded-3 ">
            <div class="mx-5 my-5 py-3">
              <div>
                <img src="avatar1.png" alt="Antonio">
                <div>
                  <strong>Antonio</strong> <br>
                  <small>13:06 h</small>
                </div>
              </div>
              <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur.</p>
              <img src="datos.png" class="post-image w-100 rounded mt-2" alt="Post Image">
            </div>
          </div>
        </div>
      </div>
  
      <!-- Sidebar Derecho -->
        <div class="col-md-3">
          <div class="social bg-white shadow-sm rounded-3 mx-3">
            <div class="div-coworkers avatar1 mb-3 mt-3 row d-flex align-item-center m-auto">
              <h5 class="col-5">Social</h5>
              <i class="bi bi-app-indicator col-5 fs-5 "></i>
            </div>
          </div>

          <div class="container-social bg-white shadow-sm rounded-3 p-2 mx-3">
            <div class="avatar1 mb-3 mt-3">
              <p>Notificaciones</p>  
              <img class="px-4" src="avatar1.png" alt="Sara">
              <span class="p-3">Sara Pajarín: </span>
              <div >
                <p>Add a photo the last proyect</p>
              </div>
              
            </div>
        </div>
        
        
        </div>
    </div>
  </div>
  
