/*
.carrusel-imagenes {
    height: 100vh; // Para ocupar toda la pantalla
    object-fit: cover; // Para que la imagen se ajuste bien
}
    */

    .contenedor-principal {
        background-color: rgb(255, 255, 255); // Fondo general
        min-height: 100vh;
        padding-top: 20px;
    }
    .margen {
        background-color: rgb(255, 255, 255); // Espacio lateral
        min-height: 100vh;
    }
    .contenido {
        background-color: rgb(255, 255, 255); // Área de productos
        padding: 20px;
        text-align: center;
    }
    .producto {
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;

        img {
            width: 100%;
            max-width: 250px;
            transition: background 0.3s ease-in-out;
            display: block; // Para que el hover cubra solo la imagen
        }   
        
        p {
            color: rgb(0, 0, 0);
            font-weight: bold;
        }
    }

    .contenedor-secundario {
        margin-left: 140px;
    }

    
    .carousel-container {
        position: relative;
        width: 100%; //1529px
        max-height: 693px; // Ajusta según tu diseño
        
        overflow: hidden;
    
        // Capa oscura sobre el carrusel
        .carousel-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); // Fondo oscuro semitransparente
            z-index: 1;
        }
    
        // Texto centrado sobre la capa oscura
        .texto-carrusel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            z-index: 2; // Encima de la capa oscura
        }
    }
    


    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .modal-content {
        max-width: 800px;
        width: 90%;
    }
