.div-principal {
    background: url('/login.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;

    
    // margin-top: -5%;
    // margin-bottom: 20px;
    // margin-left: 20px;
    // margin-right: 20px;
    min-height: calc(100vh - 56px);
    
    
}
.div-secundario {
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(20px);
}

.div-contenido {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
    
}